cloud_provider="$CLOUD_PROVIDER"
project_name="$PROJECT_NAME"
aws_region="$AWS_REGION"
ami_name="$IMAGE_NAME"
source_ami_id="$SOURCE_IMAGE_ID"
environment="$ENVIRONMENT"
concordium_node_path="$CONCORDIUM_NODE_PATH"
subnet_id="$AWS_SUBNET_ID"
ami_users=$AMI_USERS
